.nav-wrapper .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2em;
  background-color: white;
}

.nav-wrapper .wrapper .logo a {
  display: flex;
  align-items: center;
}

.nav-wrapper .wrapper .logo a p {
  margin-left: 5px;
  font-weight: 600;
  font-size: 21px;
}

.nav-wrapper .wrapper .searchbar {
  position: relative;
  margin-left: -5em;
}

.nav-wrapper .wrapper .searchbar input {
  padding: 12px 1em 12px 3em;
  background-color: rgba(230, 230, 230, 0.836);
  border: none;
  outline: none;
  border-radius: 10px;
  width: 20vw;
}

.searchbar .search-icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
  margin-top: 12px;
}

.nav-wrapper .wrapper .links {
  display: flex;
  align-items: center;
  margin-left: -5em;
}

.nav-wrapper .wrapper .links > a {
  margin-left: 2em;
  font-size: 14px;
  font-weight: 400;
}

.login-button {
  color: white;
  background-color: rgb(2, 251, 168);
  font-size: 14px;
  padding: 5px 2em;
  border-radius: 5px;
  cursor: pointer;
}

.nav-active {
  position: fixed;
  margin-top: 1em;
  width: 100%;
  z-index: 30;
}

.nav-active .wrapper {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  animation: fadeIn ease 0.2s forwards;
  /* backdrop-filter: blur(5px); */
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-active .logo a {
  display: flex;
  align-items: center;
}

.nav-active .logo a p {
  margin-left: 5px;
  font-weight: 600;
  font-size: 21px;
}

.nav-active .searchbar {
  position: relative;
  margin-left: -5em;
}

.nav-active .searchbar input {
  padding: 12px 1em 12px 3em;
  background-color: rgba(230, 230, 230, 0.836);
  border: none;
  outline: none;
  border-radius: 10px;
  width: 20vw;
}

.searchbar .search-icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
  margin-top: 12px;
}

.nav-active .links {
  display: flex;
  align-items: center;
  margin-left: -5em;
}

.nav-active .links > a {
  margin-left: 2em;
  font-size: 14px;
  font-weight: 400;
}

.hamburger {
  display: none;
}

.mint-cart {
  position: relative;
}

.mint-cart p {
  position: absolute;
  font-size: 10px;
  color: white;
  top: 0;
  right: 0;
  margin-right: -10px;
  margin-top: -7px;
  background-color: red;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-box {
  position: relative;
}

.profile-box-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid black;
  background-color: lightgray;
}

.profile-box-options {
  position: absolute;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(119, 119, 119, 0.598);
  width: 200px;
  height: auto;
  padding: 10px;
  right: 0;
  margin-right: -10px;
  top: 0;
  margin-top: 3.27em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-box-options .profile-name {
  width: 80%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.profile-box-options > a {
  margin: 3px 0;
  font-size: 14px;
  cursor: pointer;
  font-size: 12px;
}

.profile-box-options .logout {
  font-size: 13px;
  padding: 5px 0;
  width: 90%;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(7, 249, 168);
}

@media screen and (max-width: 600px) {
  .nav-wrapper .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 95vw;
    margin: auto;
  }

  .nav-wrapper .wrapper .searchbar {
    display: none;
  }

  .nav-wrapper .wrapper .links {
    display: none;
  }

  .lorem {
    display: none;
  }

  .nav-active {
    position: fixed;
    margin-top: 1em;
    width: 100%;
    z-index: 30;
  }

  .nav-active .wrapper {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    animation: fadeIn ease 0.2s forwards;
    backdrop-filter: blur(5px);
  }

  .nav-active .searchbar {
    display: none;
  }

  .nav-active .links {
    display: none;
  }

  .nav-wrapper .wrapper .links-active {
    background-color: aliceblue;
    position: absolute;
    width: 50%;
    height: 70vh;
    margin: auto;
    top: 0;
    right: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 0.2s forwards;
    z-index: 30;
  }

  .nav-wrapper .wrapper .links-active > a {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 600;
  }

  .hamburger {
    display: block;
    font-size: 18px;
  }

  .nav-active .wrapper .links-active {
    background-color: aliceblue;
    position: absolute;
    width: 50%;
    height: 70vh;
    margin: auto;
    top: 0;
    right: 0;
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 0.5s forwards;
    z-index: 30;
  }

  .nav-active .wrapper .links-active > a {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
  }

  .profile-box {
    position: relative;
  }
  
  .profile-box-options {
    position: absolute;
    width: 70vw;
    height: 25vh;
    padding: 10px;
    right: -100%;
    margin-right: 0;

  }

  .profile-box-options .profile-name {
    width: 80%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }

  .profile-box-options > a {
   
    font-size: 16px;
  }

  .profile-box-options .logout {
    font-size: 15px;
    padding: 7px 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .nav-wrapper .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 95vw;
    margin: auto;
  }

  .nav-wrapper .wrapper .searchbar {
    display: block;
  }

  .nav-wrapper .wrapper .links {
    display: none;
  }

  .lorem {
    display: none;
  }

  .nav-active {
    position: fixed;
    margin-top: 1em;
    width: 100%;
    z-index: 30;
  }

  .nav-active .wrapper {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    animation: fadeIn ease 0.2s forwards;
  }

  .nav-active .searchbar {
    display: block;
  }

  .nav-wrapper .wrapper .searchbar input,
  .nav-active .wrapper .searchbar input {
    width: 30vw;
  }

  .nav-active .links {
    display: none;
  }

  .nav-wrapper .wrapper .links-active {
    background-color: aliceblue;
    position: absolute;
    width: 50%;
    height: 70vh;
    margin: auto;
    top: 0;
    right: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 0.2s forwards;
  }

  .nav-wrapper .wrapper .links-active > a {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 600;
  }

  .hamburger {
    display: block;
    font-size: 18px;
  }

  .nav-active .wrapper .links-active {
    background-color: aliceblue;
    position: absolute;
    width: 50%;
    height: 70vh;
    margin: auto;
    top: 0;
    right: 0;
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 0.2s forwards;
  }

  .nav-active .wrapper .links-active > a {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 600;
  }
}
